.sending-data {
  min-height: 100vh;
  background: #121910;
  padding: 20px;
  line-height: 1.2;
  color: $whiteColor;

  &__body {
    position: relative;
    max-width: 550px;
    margin: 0 auto;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(51, 51, 51, 0.7) url('@img/sending-data/loading.gif') center / 50px no-repeat;
      opacity: 0;
      visibility: hidden;
      transition: all 0.2s linear;
    }

    &._sending::after {
      opacity: 1;
      visibility: visible;
    }
  }

  &__title {
    @include respValue('font-size', 40, 30, 1);
    text-transform: uppercase;
    letter-spacing: 1px;

    &:not(:last-child) {
      margin: 0 0 30px 0;
    }
  }

  &__item {
    &:not(:last-child) {
      margin: 0 0 30px 0;
    }

    textarea {
      min-height: 120px;
      resize: vertical;
      padding: 20px;
    }
  }

  &__label {
    display: block;
    font-size: 18px;
    text-transform: uppercase;

    &:not(:last-child) {
      margin: 0 0 10px 0;
    }
  }

  &__input {
    width: 100%;
    height: 50px;
    border-radius: 6px;
    font-size: 16px;
    padding: 0 20px;

    &:focus {
      box-shadow: 0 0 8px 0 #7a956b;
      transition: all 0.2s linear;
    }

    &._error {
      box-shadow: 0 0 8px 0 #f00;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 40px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #7a956b;
    box-shadow: 0 5px 0 0 #242c20;
    border-radius: 20px;
    color: $whiteColor;
    position: relative;
    top: 0;
    transition: all 0.2s linear;

    &:hover {
      background: #58724b;
    }

    &:active {
      top: 3px;
      box-shadow: 0 2px 0 0 #242c20;
    }
  }
}

.options {
  &__item {
    &:not(:last-child) {
      margin: 0 0 15px 0;
    }
  }

  &__input {
    display: none;
  }

  &__label {
    position: relative;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    text-transform: uppercase;
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.2s linear;
    cursor: pointer;

    &::before {
      content: '';
      align-self: flex-start;
      flex: 0 0 24px;
      height: 24px;
      background: $whiteColor;
      border-radius: 50%;
      margin: 0 15px 0 0;
    }

    &::after {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      top: 4px;
      left: 4px;
      background: #7a956b;
      border-radius: 50%;
      transform: scale(0);
      transition: all 0.2s linear;
      z-index: 3;
    }

    &.active {
      color: $whiteColor;

      &::after {
        transform: scale(1);
      }
    }
  }
}

.file {
  &__item {
    position: relative;
  }

  &__input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    font-size: 0;
    z-index: 3;
    cursor: pointer;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 140px;
    min-height: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #7a956b;
    box-shadow: 0 3px 0 0 #242c20;
    border-radius: 20px;
    color: $whiteColor;
    transform: translateY(0);
    transition: all 0.2s linear;

    &:hover {
      background: #58724b;
    }

    &:active {
      transform: translateY(1.2px);
      box-shadow: 0 2px 0 0 #242c20;
    }
  }

  &__preview {
    display: inline-block;
    max-width: 100px;
    padding: 10px 0 0 0;

    img {
      max-width: 100%;
    }
  }
}

.checkbox-fls {
  &._error {
    .checkbox-fls__label::before {
      box-shadow: 0 0 8px 0 #f00;
    }
  }

  &__input {
    display: none;

    // &:checked + .checkbox-fls__label::after {
    //   transform: scale(1);
    // }

    &:checked + .checkbox-fls__label {
      color: $whiteColor;
      &::after {
        transform: scale(1);
      }
    }
  }

  &__label {
    font-size: 12px;
    letter-spacing: 0.6px;
    position: relative;
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.2s linear;

    a {
      display: inline-block;
      position: relative;
      color: #7a956b;

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background: #7a956b;
        transform: scale(0);
        transition: all 0.2s linear;
      }

      &:hover {
        &::before {
          transform: scale(1);
        }
      }
    }

    &::before {
      content: '';
      align-self: flex-start;
      flex: 0 0 24px;
      height: 24px;
      background: $whiteColor;
      border-radius: 4px;
      margin: 0 10px 0 0;
      cursor: pointer;
    }

    &::after {
      content: '';
      position: absolute;
      width: 18px;
      height: 18px;
      top: 3px;
      left: 3px;
      background: #7a956b;
      border-radius: 4px;
      transform: scale(0);
      transition: all 0.2s linear;
      z-index: 3;
      cursor: pointer;
    }

    &.active {
      color: $whiteColor;

      &::after {
        transform: scale(1);
      }
    }
  }
}
