.slick-track {
  display: flex;
  align-items: flex-start;
}

.slider {
  position: relative;
  min-width: 0;

  .slick-arrow {
    position: absolute;
    font-size: 0;
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 6px 0 $whiteColor;
    transition: all 0.2s linear;
    z-index: 3;

    &.slick-prev {
      left: 0;
      background: url('@img/') 0 0 / cover no-repeat;
    }

    &.slick-next {
      right: 0;
      background: url('@img/') 0 0 / cover no-repeat;
    }

    &.slick-disabled {
      box-shadow: 0 0 5px 0 red;
    }
  }

  .slick-list {
    overflow: hidden;

    @media (max-width: 700.98px) {
      &:not(:last-child) {
        margin: 0 0 20px 0;
      }
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;

    li {
      &.slick-active {
        button {
          background: white;
        }
      }
    }

    button {
      font-size: 0;
      width: 7px;
      height: 7px;
      background: gray;
      border-radius: 50%;
    }
  }
}
